@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-section {
  height: 100vh;
}

.login-card {
  box-shadow: 0 10px 40px 0 rgb(18 106 211 / 7%), 0 2px 9px 0 rgb(18 106 211 / 6%);
  border: none;
  margin-bottom: 1.875rem;
  transition: all .3s ease;
}

.input-error-msg {
  color: #ff4f4f;
  font-size: .75rem;
}

.sign-in-form {
  max-width: 450px;
  margin: 15% auto;
  padding: 30px;
}

.image-thumnail-holder {
  height: 64px;
  width: 128px;
  background-size: cover;
  background-position: center;
}