/*
// Boxes are simplified version of cards, boxes only go inside
// of cards.
*/
.box {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	
	.box-header {
		padding: 0.75rem 1.25rem;
		margin-bottom: 0;
		
		h3 {
			font-size: rem(16);
			margin: 0;
		}
	}
	
	.box-body {
		flex: 1 1 auto;
		padding: 1.25rem;
	}
	
	.box-footer {
		padding: 0.75rem 1.25rem;
	}
}
