.page-content {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	padding: 30px;
}
@media (max-width: 768px) {
	.page-header.container,
	.page-content.container{
		    max-width: 100%;
	}
}
@media (max-width: 576px) {
	.page-content {
		padding: 15px!important;
	}
}
