spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mysql://${MYSQL_HOST:localhost}:<YOUR_SQL_PORT>/<YOUR_SCHEMA_NAME>
spring.datasource.username=<YOUR_USERNAME>
spring.datasource.password=<YOUR_PASSWORD>

jwt.secret=<JWT_SECRET>

azure.bing.ApiKey = <API_KEY>
azure.bing.endpoint = https://api.bing.microsoft.com/v7.0/news
azure.bing.countryCode = sg
azure.bing.phase = COVID
azure.bing.freshness = Day

server.error.include-message = always

positionstack.apikey = <ACCESS_KEY>
positionstack.endpoint = http://api.positionstack.com/v1/forward

pandanews.frontend.uri=http://localhost:3000
pandanews.admin.uri=http://localhost:3001

spring.servlet.multipart.max-file-size=1024KB
spring.servlet.multipart.max-request-size=1024KB