spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mysql://${MYSQL_HOST:localhost}:<YOUR SQL PORT>/<YOUR SCHEMA NAME>
spring.datasource.username=<YOUR USERNAME>
spring.datasource.password=<YOUR PASSWORD>

azure.bing.ApiKey = f51483ef012f491d83758b679ce77655 //Please do not share around!
azure.bing.endpoint = https://api.bing.microsoft.com/v7.0/news
azure.bing.countryCode = sg
azure.bing.phase = COVID

server.error.include-message = always